{% extends "base.html" %}

{% block content %}

    <h1>Search Crossing Requirements</h1>

    <form method="GET" action="/crossings">
        <label for="destination">Destination Airport:</label><br>
        <input type="text" id="destination" name="destination" placeholder="e.g. EWR"><br><br>



        <input type="submit" value="search">
    </form>

    {% if crossings %}
        <h2>Matching Crossings:</h2>
        <ul>
        {% for crossing in crossings %}
                <li class="card">
                    <strong>{{ crossing.destination }}</strong><br>
                    <span>Boundary Fix:</span> {{ crossing.fix or 'N/A' }}<br>
                    <span>Restriction:</span> {{ crossing.restriction }}<br>
                    <span>Notes:</span> {{ crossing.notes or 'N/A' }}<br>
                    <span>ARTCC:</span> {{ crossing.artcc }}
                </li>
        
        {% endfor %}
        </ul>
    {% elif searched %}
        <p>No matching LOA items found.</p>
    {% endif %}


{% endblock %}