{% extends "base.html" %}
{% block content %}
<h1>{{ action }} Route</h1>
<form method="post">
    Origin: <input type="text" name="origin" value="{{ route.origin if route else '' }}"><br><br>
    Destination: <input type="text" name="destination" value="{{ route.destination if route else '' }}"><br><br>
    Route: <input type="text" name="route" value="{{ route.route if route else '' }}"><br><br>
    Altitude: <input type="text" name="altitude" value="{{ route.altitude if route else '' }}"><br><br>
    Notes: <input type="text" name="notes" value="{{ route.notes if route else '' }}"><br><br>
    <input type="submit" value="{{ action }} route">
</form>
<a href="{{ url_for('admin_routes') }}">Back to List</a>
{% endblock %}
